<h1>📦 Lista de Productos</h1>

{{#if products.length}}
    <ul class="product-list">
        {{#each products}}
            <li class="product-card">
                <strong>{{this.title}}</strong> - ${{this.price}} <br>
                <em>{{this.description}}</em> <br>
                <small>Código: {{this.code}} | Stock: {{this.stock}} | Categoría: {{this.category}}</small>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay productos cargados.</p>
{{/if}}

<a href="/realtimeproducts" class="btn-link">Ir a vista en tiempo real</a>

<link rel="stylesheet" href="/css/home.css">