<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <strong>{{this.title}}</strong> - ${{this.price}} <br>
                    <em>{{this.description}}</em> <br>
                    <small>Código: {{this.code}} | Stock: {{this.stock}} | Categoría: {{this.category}}</small>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos cargados.</p>
    {{/if}}

    <a href="/realtimeproducts">Ir a vista en tiempo real</a>
</body>
</html>